<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="icon.css">
    <link rel="stylesheet" href="style.css">
    <title>Floating Lable Input</title>
</head>
<body>

    <div class="container">
        <form action="#">
            <div class="logo">
                <i class="icon-basic-signs">LOGO</i>
            </div>

            <div class="input-form">
                <input type="text" name="email" id="email" placeholder="Enter Your email"/>
                <label for="email">Email Address</label>
            </div>

            <div class="input-form">
                <input type="password" name="password" id="password" placeholder="password"/>
                <label for="password">Password</label>
            </div>
            <a href="#">Log In</a>
        </form>
    </div>

</body>
</html>