.composition {
    position: relative;

    &__photo {
        width: 55%;
        box-shadow: 0 1.5rem 4rem rgba($color-black, .4);
        border-radius: 2px;
        position: absolute;
        z-index: 10;
        //When hovered, overlap others. See below &:hover
        transition: all .2s;
        outline-offset: 2rem;

        &--p1 {
            left: 0;
            top: -2rem;
        }

        &--p2 {
            left: 23rem;
            top: 3rem;
        }

        &--p3 {
            left: 10rem;
            top: 12rem;
        }

        &:hover {
            outline: 1.5rem solid $color-primary-dark;
            transform: scale(1.05) translateY(-.5rem);
            box-shadow: 0 2.5rem 4rem rgba($color-black, .5);
            z-index: 20;
            //When hovered, overlap others. Should be higher than the origins, see above &__photo
        }
    }

    &:hover &__photo:not(:hover) {
        transform: scale(.95);
    }
    //When the whole section is hovered, the rest images which are not hovered shrink a bit
}