*,
*::after,
*::before {
    margin: 0px;
    padding: 0px;
    box-sizing: inherit;
}

html {
    //this defines what 1rem is
    font-size: 62.5%; /* 10 / 16 (what we want / the default)*/
}

body {
    box-sizing: border-box;
}